.header {
  position: fixed;
  background: #ba998c;
  height: 80px;
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
  margin: 0 50px;
  height: 100%;
}

.header__logo {
  width: 87px;
  height: 30px;
  background-image: url(../../img/bg_logo.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.header__list {
  display: flex;
}

.header__listitem {
  color: #fff;
  list-style: none;
  position: relative;
  a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font: 400 14px gothamM;
  }
  &:first-child > a::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 10px;
    background-image: url(../../img/ico_rsv.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
  }
  & + & {
    margin-left: 85px;
  }
  & + &:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 6px;
    left: -40px;
    width: 1px;
    height: 12px;
    background-color: #fff;
  }
}
